body{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px rgb(165, 80, 94);
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding:20px 10px 20px 10px;
    background-color: rgb(221, 228, 221);
    border-radius: 10px;
    box-shadow: 0 5px 4px #292929;
    
   

    
}
h1{
    color:black;
    text-align: center;
    text-shadow: black;
}
div input{
    display: flex;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
     border-color: blueviolet;
    height: 20px;

}
 div button{
    height: 100;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin: 0 auto;
    
    border-radius: 5px ;
     margin-top: 10px;
     background-color: white;
    
    
}
button:hover{
    background-color: blue black;
  
   
}